:root {
  --sidebar-color: white;
  --color-search_content: #F8F8F8;
  --color-search_border: #F0F0F0;
}

.accordion-button {
  padding: 0.75rem 0;
  padding-left: 0.25rem;

  color: black;
}

.accordion-body {
  padding: 0 0 0.5rem 0;
}

.accordion-body > .input-group {
  margin-bottom: 0.25rem;
}

.accordion-body > .input-group > * {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.accordion-body label {
  margin-bottom: 0.125rem;
  font-size: 0.95rem;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
  box-shadow: none;
}

.accordion-button:focus {
  border-color: none;
  box-shadow: none;
  background-color: transparent;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.font-sans-serif {
  font-family: 'Open Sans', sans-serif;
}

/* ----- */
/* Layout Begins */

:root {
  --sub-width: 22.5rem;
}


/* Layout - Main */
.result-list-container {
  width: calc(100% - var(--sub-width));
}

@media (max-width: 1198.98px) {
  .result-list-container {
    width: 100%;
  }
}

/* Layout - Sub */
.sidebar-container {
  width: var(--sub-width);
}
















/* Hover Button For Collpased Menu */
.toggle-menu .btn-toggle-menu {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 999999;
  box-shadow: 0 1px 10px 1px #d3d3d3;
  border-radius: 100%;
}
.toggle-menu .btn-toggle-menu:hover {
  box-shadow: none;
}

.bg-search_border {
  background-color: var(--color-search_border);
}

.search_content {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.result-list__item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.fs-7 {
  font-size: 0.95rem;
}

.sidebar-container > .sticky {
  position: sticky;
  top: 1rem;
}

.bg-footer {
  background-color: #333333;
}

.description__key {
  width: 150px;
}

.fw-600 {
  font-weight: 600;
}